
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="bg-image container w-100 min-h-500">
        <div class="info-container">
            <h2 class="text-light">Watch some of the most exciting shows</h2>
            <p class="text-light"> Click here <b class="red">↓</b> to get started</p>
            <form class="get-started" action="register" method="get">
                <input placeholder="E-mail address" type="email" name="email" />
                <input type="submit" value="Get Started" />
            </form>
        </div>

    </div>


</div>